<div class="body">
    <div id="wrapper">
        <!-- Navigation -->
        <app-nav></app-nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="mobile_size">
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" [(ngModel)]="searchText">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="Hidden" class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>Well done!</strong>You Successfully Delete This Comment
                        </div>
                        <div *ngIf="Hidden==false" class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>Attention!</strong> Your Comment Is Not Deleted
                        </div>
                        <div style="overflow-x:auto; margin-top: 13px;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th><input id="selectAllBoxes" type="checkbox"></th> -->
                                        <th style="width: 140px;">Id</th>
                                        <th style="width: 130px;">User Name</th>
                                        <th style="width: 360px;">Comment</th>
                                        <th style="width: 230px;">Email</th>
                                        <!-- <th>Status</th> -->
                                        <!-- <th>In Response to</th> -->
                                        <th style="width: 120px;">Date</th>
                                        <th style="width: 100px;">Comment-Status</th>
                                        <!-- <th style="width: 100px;">Unapprove</th> -->
                                        <th style="width: 67px;">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let comment of Comment$ | async | reverse | filter : searchText | paginate:{itemsPerPage:5, currentPage: pageNumber}; let i = index">
                                        <td>
                                            {{comment.id}}
                                        </td>
                                        <td>
                                            {{comment.comment_author}}
                                        </td>
                                        <td><textarea
                                                class="post_comment_description">{{comment.comment_content}}</textarea>
                                        </td>
                                        <td>{{comment.comment_email}}</td>
                                        <td>{{comment.comment_date}}</td>
                                        <!-- <td><button (click)="Approved(comment.$key,comment.comment_status)">Approved</button></td> -->
                                        <td>
                                            <mat-slide-toggle
                                                (change)="Approved(comment.$key,comment.comment_status,$event)"
                                                checked="{{comment.comment_toggle}}">
                                            </mat-slide-toggle>
                                        </td>
                                        <td style="text-align: center; padding-top: 29px;"> <i style="color: red;" class="fa fa-trash fa-2x"
                                                (click)="deleteComment(comment.$key)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>