.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: grid;
  }

  .mat-card-title {
    font-size: 22px;
    font-weight: 600;
   
    
}

.mat-card{
    font-family: 'Times New Roman', Times, serif;
    
}

.mat-form-field {
    font-size: 19px;
    font-weight: 400;
    /* line-height: 1.125; */
    font-family: 'Times New Roman', Times, serif;
}