<div class="body">
    <div id="wrapper">
        <app-nav></app-nav>
        <!-- Navigation -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div *ngIf="isAlertHide" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Well done!</strong> You Successfully submit This Category
                </div>
                <div *ngIf="isAlertHide == false"  class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Attention!</strong> Your Category Is Not Submit
                </div>
                <div *ngIf="isDeleteAlertHide" class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeDeleteAlert()"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Well done!</strong>You Successfully Delete This Category
                </div>
                <div *ngIf="isDeleteAlertHide == false"  class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeDeleteAlert()"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Attention!</strong> Your Category Is Not Deleted
                </div>
                <!-- Page Heading -->
                <div class="row">
                    <!-- <div class="col-lg-12"> -->
                    <div class="col-md-6">
                        <form #cat="ngForm" (ngSubmit)="addCategory(cat)">
                            <div class="form-group">
                                <label class="label_mobile_size" for="cat-title">Add Category</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="categoryModel"
                                    #category="ngModel" required minlength="3">
                                <div>
                                    <span class="alert alert-danger"
                                        *ngIf="category.errors?.required && category.touched">Category Name is
                                        required!</span>
                                    <span class="alert alert-danger"
                                        *ngIf="category.errors?.minlength && category.touched">Must be at least 3
                                        characters.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <input class="btn btn-primary" type="submit" name="submit" value="Add Category"> -->
                                <button style="margin-right: 20px;" mat-raised-button color="primary"
                                    [disabled]="cat.invalid">{{submitButton}} Category</button>
                            </div>
                        </form>
                    </div>
                    <!--Add Category Form-->
                    <div class="col-md-6">
                        <div style="overflow-x:auto;">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th>Id</th> -->
                                        <th>Category Title</th>
                                        <th style="width: 63px;">Edit</th>
                                        <th style="width: 59px;">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let c of Categories$ | async | paginate:{itemsPerPage:5, currentPage: pageNumber}; let i = index">
                                        <td>{{c.name}}</td>
                                        <!-- <td></td> -->
                                        <!-- <td><button (click)="deleteCategories(c.$key)">Delete</button></td> -->
                                        <td><a (click)="updateCategory(c.$key)">
                                                <i style="color: green; cursor: pointer;"
                                                    class="fa fa-pencil fa-2x" aria-hidden="true">
                                                </i></a>
                                        </td>
                                        <td> <i style="color: red; cursor: pointer;"
                                                class="fa fa-trash fa-2x" (click)="deleteCategories(c.$key)"></i>
                                        </td>
                                        <!-- <td><a href=''>Edit</a></td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>